<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission pour accéder à Internet -->
    <uses-permission android:name="android.permission.INTERNET" />




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EssatConnect"
        tools:targetApi="31">

        <!-- Activité principale -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activité pour le tableau de bord Administrateur -->
        <activity android:name=".AdminDashboardActivity" android:exported="true" />

        <!-- Activité pour la connexion Administrateur -->
        <activity android:name=".AdminLoginActivity" android:exported="true" />

        <!-- Activité pour la gestion des événements -->
        <activity android:name=".ManageEventsActivity" android:exported="true" />

        <!-- Activité pour la gestion des actualités -->
        <activity android:name=".ManageNewsActivity" android:exported="true" />

        <!-- Activité pour la gestion des étudiants -->
        <activity android:name=".ManageStudentsActivity" android:exported="true" />

        <!-- Activité pour le tableau de bord Étudiant -->
        <activity android:name=".StudentDashboardActivity" android:exported="true" />

        <!-- Activité pour la connexion Étudiant -->
        <activity android:name=".StudentLoginActivity" android:exported="true" />

        <!-- Activité pour l'inscription Étudiant -->
        <activity android:name=".StudentRegisterActivity" android:exported="true" />


        <!-- Activité pour l'inscription Consulter la Liste des actualités pour l'étudiant -->
        <activity android:name=".ViewNewsActivity" android:exported="true" />

        <activity android:name=".ViewEventsActivity" android:exported="true" />







    </application>

</manifest>
